doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TruceClan Homepage
    style.
      body {
        font-family: Arial, sans-serif; 
        
      }
      .container {
        text-align: center; 
      }
      h1 {
        font-size: 180px;
      }
      button {
        font-size: 90px;
        background-color: #000000;
        border-radius: 5px;
        color: red;
      }
  body
    .container
      h1 TruceClan
      a(href="index")
        button(type="button") Profili