img {
    height: 200px;
    width: 200px;
  }

body{
    background: rgb(186, 185, 185)
}
h2{
    font-size: 35px;
    color:black
    
}
h1 {
    font-size: 50px;
    color: rgb(29, 26, 87);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.titolo{
    color:black
    
}
h3{
    font-size: 25px;
    color:black
f
}
a{
    color:blueviolet
}
#blocco{
    text-align: center;
    background-color: rgb(108, 71, 135);
}
